body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

:root {
    --c-grass: #46d1b0;
    --c-fire: #fc6c6c;
    --c-water: #59acf8;
    --c-bug: #a17973;
    --c-normal: #A8A77A;
    --c-poison: #7c538b;
    --c-electric: #ffcf49;
    --c-ground: #b0756d;
    --c-fairy: #D685AD;
    --c-fighting: #C22E28;
    --c-psychic: #F95587;
    --c-rock: #B6A136;
    --c-ground: #E2BF65;
    --c-ghost: #735797;
    --c-ice: #96D9D6;
    --c-dark: #705746;
    --c-steel: #B7B7CE;
    --c-dragon: #6F35FC;
}

main {
    margin: 32px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    margin: 0 0.5rem 1rem 0.5rem;
    min-height: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: 2s ease-in-out
}

.pokemon-card-top {
    display: flex;
    justify-content: flex-end;
}

.pokemon-info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    background: white;
    top: 0;
}

.pokemon-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 0.5rem;
}

input {
    width: 14rem;
    height: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
}

.input {
    position: relative;
    background: #fff;
    border-radius: 5px;
}

.input::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg, #D4C165, #385BA9);
}

.pokemon-logo img {
    height: 80px;
}

.d-none {
    display: none !important;
}

.pokemon-id {
    font-weight: bold;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5)
}

#pokemon-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#pokemon-img {
    height: 125px;
    width: 125px;
}

.pokemon-info-left {
    color: rgba(255, 255, 255)
}

.type-info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px 8px 4px 8px;
    margin-bottom: 3px;
    border-radius: 6px;
    max-width: fit-content;
}

.pokemon-card-body {
    display: flex;
    justify-content: space-around;
}

.pokemon-card-body::before {
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-image: url('./img/pokeball.png');
    background-size: 100%;
    opacity: 0.2;
    right: -2rem;
    bottom: -3rem;
    transform: rotate(-30deg);
}

.img-container {
    z-index: 1;
}

.pokemon-type {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10em;
}

.pokedex-info-container {
    min-width: 500px;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}

.dialog-bg {
    background-color: rgba(255, 255, 255, 0.74);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(6px);
}

.info-container {
    background-color: white;
    border-radius: 40px;
    height: 400px;
    margin-top: -40px;
    padding: 2em;
    max-width: 452px;
    position: relative;
}

.tabs {
    display: flex;
    font-weight: bold;
    min-width: 100%;
    border-bottom: 2px solid rgb(224, 222, 222);
}

.info-container-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.tab {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    text-align: center;
    padding: 0.5rem 0;
    list-style-type: none;
    transition: all 225ms ease-in-out;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.tab:hover {
    border-bottom: 3px solid #D4C165;
    color: black;
}

.active {
    border-bottom: 3px solid #D4C165;
}

.inactive {
    color: grey;
}

#pokemon-info-card {
    min-height: 300px;
    color: white;
    display: flex;
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-direction: column;
    max-width: 468px;
    min-width: 468px;
}


.info-img {
    position: relative;
    
}

.info-img img {
    position: absolute;
    right: 130px;
    top: -40px;
    height: 200px;
    z-index: 2;
}

#next-img  {
    right: -45px;
    top: 183px;
    height: 100px;
    filter: brightness(20%);
    position: absolute;
}

#previous-img {
    top: 183px;
    height: 100px;
    filter: brightness(20%);
    position: absolute;
    left: -60px;
}

.pokemon-card-body-info::before {
    content: '';
    position: absolute;
    width: 15rem;
    height: 15rem;
    background-image: url(./img/pokeball.png);
    background-size: 100%;
    background-position: center;
    opacity: 0.2;
    right: 132px;
    bottom: 400px;
    transform: rotate(-30deg);
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.dark-img-box {
    position: relative;
}

.info-text {
    padding: 1em;
    text-align: center;
    word-break: break-word;
    max-width: 400px;

}

.height-weight-container {
    display: flex;
    justify-content: space-around;
}

.box {
    background-color: rgba(240, 233, 233, 0.274);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.info-container-bottom {
    display: flex;
    justify-content: center;
    padding: 1em;
    height: 100px;
}

.abilities-box {

    width: 300px;
    height: 100px;
    background-color: rgba(240, 233, 233, 0.274);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: center;
}

.pokemon-info-card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow img {
    height: 50px;
    opacity: 0.5;
    cursor: pointer;
}

.stats {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height: 370px;
}

.progress {
    width: 200%;
    min-width: 200%;
    height: 16px;
    background: #e1e4e8;
    border-radius: 16px;
    overflow: hidden;
}


.progress-bar {
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
    background-size: 300% 100%;
    animation: progress-animation 2s linear infinite;
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: 0;
    }
}

.inline {
    display: flex;
    align-items: center;
}

.stats-name {
    color: #c4b051;
}

#previous-img, #next-img {
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

#previous-img:hover {
    filter: brightness(50%);
    transform: translateX(25%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

#next-img:hover {
    filter: brightness(50%);
    transform: translateX(-25%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}


/*
.next-img {
    filter: brightness(50%);
    transition: ease-in-out 5s;
    animation: change-pokemon ease-in-out 5s;
}

@keyframes change-pokemon {
    0% {
        transform: translate();
        height: 100px;
    }

    25% {
        transform: translate(-34px, -19px);
        height: 125px;
    }

    50% {
        transform: translate(-85px, -32px);
        height: 150px;
    }

    75% {
        transform: translate(-127px, -38px);
        height: 175px;
    }

    100% {
        transform: translate(-222px, -66px);
        height: 200px;
    
    }
    
} */