body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

:root {
    --c-grass: #46d1b0;
    --c-fire: #fc6c6c;
    --c-water: #59acf8;
    --c-bug: #a17973;
    --c-normal: #A8A77A;
    --c-poison: #7c538b;
    --c-electric: #ffcf49;
    --c-ground: #b0756d;
    --c-fairy: #D685AD;
    --c-fighting: #C22E28;
    --c-psychic: #F95587;
    --c-rock: #B6A136;
    --c-ground: #E2BF65;
    --c-ghost: #735797;
    --c-ice: #96D9D6;
    --c-dark: #705746;
    --c-steel: #B7B7CE;
    --c-dragon: #6F35FC;
}

main {
    margin: 32px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    margin: 0 0.5rem 1rem 0.5rem;
    min-height: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    background-color: #46d1b0;;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.pokemon-card-top {
    display: flex;
    justify-content: flex-end;
}

.pokemon-info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pokemon-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 0.5rem;
}

input {
    width: 14rem;
    height: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
}

.input {
    position: relative;
    background: #fff;
    border-radius: 5px;
  }
  
  .input::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg,#D4C165, #385BA9);
  }

.pokemon-logo img { 
    height: 80px;
}

.d-none {
    display: none;
}

#pokemon-id{
    font-weight: bold;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5) 
}

#pokemon-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#pokemon-img {
    height: 125px;
    width: 125px;
}

.pokemon-info-left {
    color: rgba(255, 255, 255) 
}

.type-info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px 8px 4px 8px;
    margin-bottom: 3px;
    border-radius: 6px;
    max-width: fit-content;
}

.pokemon-card-body {
    display: flex;
    justify-content: space-around;
}

.pokemon-card-body::before {
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-image: url('./img/pokeball.png');
    background-size: 100%;
    opacity: 0.2;
    right: -2rem;
    bottom: -3rem;
    transform: rotate(-30deg);
}

.img-container {
    z-index: 1;
}

.pokemon-type {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokedex-info-container {
   min-width: 500px;  
   border-radius: 60px; 
   position: relative;
}

.dialog-bg {
    background-color: rgba(255, 255, 255, 0.74);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(6px);
}

.info-container {
    background-color: white;
    border-radius: 40px;
    height: 400px;
    margin-top: -40px;
}

#pokemon-info-card {
    min-height: 300px;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    padding: 24px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    flex-direction: column;
}

.info-img img {
    position: absolute;
    right: 125px;
    top: 150px;
}

.pokemon-card-body-info::before {
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-image: url('./img/pokeball.png');
    background-size: 100%;
    background-position: center;
    opacity: 0.2;
    right: -2rem;
    bottom: -3rem;
    transform: rotate(-30deg);
}