body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    margin: 32px;
}

#pokedex {
    min-height: 300px;
    background-color: #FB6C6C;
    color: white;
    display: flex;
    padding: 24px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 300px;
    margin: 0 0.5rem 1rem 0.5rem;
    min-height: 150px;
    position: relative;
    overflow: hidden;
    background-color: #46d1b0;;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.pokemon-card-top {
    display: flex;
    justify-content: flex-end;
}

.pokemon-info-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
    margin-top: -40px;
}

header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pokemon-header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    padding: 0.5rem;
}

input {
    width: 14rem;
    height: 1rem;
    padding: 0.5rem 0.8rem;
    border: none;
}

.input {
    position: relative;
    background: #fff;
    border-radius: 5px;
  }
  
  .input::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(45deg,#D4C165, #385BA9);
  }

.pokemon-logo img { 
    height: 80px;
}

.d-none {
    display: none;
}

#pokemon-id{
    font-weight: bold;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5) 
}

#pokemon-name {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#pokemon-img {
    height: 100x;
    width: 100px;
}

.pokemon-info-left {
    color: rgba(255, 255, 255) 
}

.type-info {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    margin-bottom: 3px;
    border-radius: 6px;
}

.pokemon-card-body {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.pokemon-card-body::before {
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-image: url('./img/pokeball.png');
    background-size: 100%;
    opacity: 0.2;
    right: -2rem;
    bottom: -3rem;
    transform: rotate(-30deg);
}

.img-container {
    z-index: 1;
}

#pokemon-type {
    display: flex;
    flex-direction: column;
    text-align: center;
}